﻿@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
}

<div class="d-flex justify-content-around align-items-center">
    <span>Schedule of 'PMI-31(group of cur user) | Nobis | 413a'</span>
    <div class="d-flex align-items-center">
        <form>
            <input type="radio" id="myGroup" name="scheduleOption" value="user group">
            <label for="myGroup">My</label><br>
            <input type="radio" id="teacher" name="scheduleOption" value="teacher">
            <label for="teacher">Teacher</label><br>
            <input type="radio" id="auditory" name="scheduleOption" value="auditory">
            <label for="auditory">Auditory</label>
        </form>
        <form>
            <select name="scheduleFor" value='my group' id="selectSchedule"></select>
        </form>
    </div>
</div>
<table>
    <tr>
        <td rowspan="2">Monday</td>
        <td>08:30-09:50 Math lec 413</td>

    </tr>
    <tr>
        <td>16:40-18:50 Prog prac 313a</td>
    </tr>
    <tr>
        <td rowspan="3">Tuesday</td>
        <td>08:30-09:50 Math lec 413</td>

    </tr>
    <tr>
        <td>16:40-18:50 Prog prac 313a</td>
    </tr>
    <tr>
        <td>19:20-20:50 Bilogoy prac 199</td>
    </tr>
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready(() => {
            registerController.init();
        });
    </script>
}