﻿@model AuRooM.Application.Features.Auth.Commands.Login.LoginVM

@{
    ViewData["Title"] = "Login";
}
<div>
    <form method="post"
          style="width: 400px; margin: 0 auto"
          class="justify-content-center">
        <div class="form-group ">
            <label asp-for="Email">Email</label>
            <input type="email"
                   class="form-control form-control-sm"
                   asp-for="Email">
            <span asp-validation-for="Email"
                  class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="password"
                   class="form-control form-control-sm"
                   asp-for="Password">
            <span asp-validation-for="Password"
                  class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" />
                    Remember Me
                </label>
            </div>
        </div>
        <div class="form-group text-center">
            <button type="submit"
                    class='btn btn-primary'>Login</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}