﻿@model AuRooM.Application.Features.Auth.Queries.GetRegistrationModel.RegisterVM
@{
    ViewBag.Title = "Register";
}
<div>
    <form method="post" style="width: 400px; margin: 0 auto" class="justify-content-center">
        <div class="form-group">
            <label asp-for="FirstName">First Name</label>
            <input type="text" class="form-control form-control-sm" asp-for="FirstName">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName">Last Name</label>
            <input type="text" class="form-control form-control-sm" asp-for="LastName">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group ">
            <label asp-for="Email">Email</label>
            <input type="email" class="form-control form-control-sm" asp-for="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RoleId">Role</label>
            <div class="form-group">
                <select id="roleSelect" class="form-control form-control-sm" asp-for="RoleId" asp-items="@Model.Roles">
                    <option></option>
                </select>
            </div>
            <span asp-validation-for="RoleId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="password" class="form-control form-control-sm" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Confirm</label>
            <input type="password" class="form-control form-control-sm" asp-for="ConfirmPassword">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GroupId">Group</label>
            <div class="form-group">
                <select id="groupSelect" class="form-control form-control-sm"
                        asp-for="GroupId" asp-items="@Model.Groups">
                    <option></option>
                </select>
            </div>
            <span asp-validation-for="GroupId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DocumentInfo">Document</label>
            <input type="text" class="form-control form-control-sm" asp-for="DocumentInfo">
            <span asp-validation-for="DocumentInfo" class="text-danger"></span>
        </div>
        <div class="form-group text-center">
            <button type="submit" class='btn btn-primary'>Register</button>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready(() => {
            registerController.init();
        });
    </script>
}
