@using AuRooM.Web.Extensions
@model AuRooM.Application.Features.Users.Queries.GetUser.EditUserVM
@{
    ViewBag.Title = "Edit User";
    Layout = "_Layout";
}

<form asp-controller="User" asp-action="Edit" method="post" style="width: 400px; margin: 0 auto" class="justify-content-center">
    <input type="text" class="d-none" asp-for="@Model.Id">
    <div class="form-group">
        <label asp-for="@Model.FirstName">First Name</label>
        <input type="text" class="form-control form-control-sm" asp-for="@Model.FirstName">
        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input type="text" class="form-control form-control-sm" asp-for="LastName">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group ">
        <label asp-for="Email">Email</label>
        <input type="email" class="form-control form-control-sm" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RoleId">Role</label>
        <div class="form-group">
            <select id="roleSelect" class="form-control form-control-sm" asp-for="RoleId" disabled="@(User.Identity.GetUserId() == Model.Id)" asp-items="@Model.Roles">
                <option></option>
            </select>
            <input asp-if="@(User.Identity.GetUserId() == Model.Id)" type="hidden" asp-for="RoleId"/>
        </div>
        <span asp-validation-for="RoleId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status">Status</label>
        <div class="form-group">
            <select id="statusSelect" class="form-control form-control-sm" disabled="@(User.Identity.GetUserId() == Model.Id)" asp-for="Status" asp-items="@Model.Statuses">
                <option></option>
            </select>
            <input type="hidden" asp-if="@(User.Identity.GetUserId() == Model.Id)" asp-for="Status" />
        </div>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GroupId">Group</label>
        <div class="form-group">
            <select id="groupSelect" class="form-control form-control-sm"
                    asp-for="GroupId" asp-items="@Model.Groups">
                <option></option>
            </select>
        </div>
        <span asp-validation-for="GroupId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DocumentInfo">Document</label>
        <input type="text" class="form-control form-control-sm" asp-for="DocumentInfo">
        <span asp-validation-for="DocumentInfo" class="text-danger"></span>
    </div>
    <div class="form-group text-center">
        <button type="submit" class='btn btn-primary' disabled="@(!User.HasPermission(UserPermissions.EditUsers))">Edit</button>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready(() => {
            editUserController.init();
        });
    </script>
}

