@using AuRooM.Web.Extensions
@model AuRooM.Application.Features.Users.Queries.GetUsersList.UserListVM

@{
    ViewBag.Title = "Users";
    Layout = "_Layout";
}

<table class="w-100">
    <thead class="font-weight-bold">
        <tr class="text-center lh-40 border border-dark">
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Role</td>
            <td>Status</td>
            <td>Group ID</td>
            <td>Document ID</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
     @foreach (var user in Model.UserList)
     {
            <tr class="text-center lh-40 border border-dark">
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>@user.Status</td>
                <td>@user.Group</td>
                <td>@user.DocumentInfo</td>
                <td>
                    <div class="d-flex justify-content-around">
                        @if(User.HasPermission(UserPermissions.EditUsers)){
                        <form asp-controller="User" asp-action="Edit" method="get">
                            <input type="text" class="d-none" value=@user.Id name="Id"/>
                            <div class="text-center">
                                <button class="bg-transparent border-0" type="submit" disabled="@(!User.HasPermission(UserPermissions.EditUsers))">
                                    <i class="fas fa-edit text-warning"></i>
                                </button>
                            </div>
                        </form>

                        <form asp-controller="User" asp-action="Delete" method="post">
                            <input type="text" class="d-none" value=@user.Id name="Id"/>
                            <div class="text-center">
                                <button class="bg-transparent border-0" type="submit" disabled="@(!User.HasPermission(UserPermissions.RemoveUsers) || User.Identity.GetUserId() == user.Id)">
                                    <i class="fas fa-trash-alt text-danger"></i>
                                </button>
                            </div>
                        </form>
                        }
                    </div>
                </td>
            </tr>
     }
    </tbody>
</table>
<paginator count="@Model.PaginationInfo.PagesCount" page="@Model.PaginationInfo.CurrentPage" controller="User" action="Index"></paginator>
