﻿@model AuRooM.Application.Features.Events.Queries.GetSubscribeViewModel.EventSetApplicationTypeVm

<form asp-controller="@Model.SubmitController"
      asp-action="@Model.SubmitAction"
      method="post">

    <input type="hidden"
           asp-for="@Model.EventId" />
    <div class="d-flex flex-column">
        @foreach(var item in Model.CheckboxItems)
        {
            <div class="flex-row">
                <input asp-for="@Model.SelectedEventSetApplicationType"
                       type="radio"
                       value="@item.Id"
                       checked="@item.IsSelected" />
                @item.Name
            </div>
        }
    </div>
</form>