﻿@model AuRooM.Application.Features.Events.Queries.GetAgenda.GetAgendaVM

@{
    ViewBag.Title = "Agenda";
    Layout = "_Layout";
}

<div>
<div class="container">
    <div class="d-flex justify-content-between">
        <a asp-action="Create"
               asp-if="@User.HasPermission(EventPermissions.RequestCreation)"
               asp-controller="Event"
               class="addEventBtn btn btn-success my-2 px-2 py-1 rounded-circle">
                <i class="fas fa-plus"></i>
            </a>
       
        <button class="btn btn-primary mt-1 mb-3" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Search filters
        </button>
    </div>
    <div class="collapse mb-2 filter-form" id="collapseExample">
       <div class="d-flex w-100 filter-form">
               <form method="get" class="d-flex justify-content-around w-100 align-items-center text-center">
                   <div class="form-group col-2" asp-if="User.Identity.IsAuthenticated" id="notMyContainer">
                       <label asp-for="IsNotUserEvents">Not only my</label>
                       <div class="form-group">
                           <input type="checkbox" class="form-control form-control-sm" asp-for="IsNotUserEvents">
                       </div>
                   </div>
                   <div class="form-group col-4">
                           <label asp-for="NarratorId">Narrator</label>
                           <div class="form-group">
                               <select id="teacherSelect" class="form-control form-control-sm teacherInput"
                                       asp-for="NarratorId" asp-items="@Model.Narrators">
                                   <option></option>
                               </select>
                           </div>
                       </div>
                       <div class="form-group col-4">
                           <label asp-for="AuditoryId">Auditory</label>
                           <div class="form-group">
                               <select id="auditorySelect" class="form-control form-control-sm"
                                       asp-for="AuditoryId" asp-items="@Model.Auditories">
                                   <option></option>
                               </select>
                           </div>
                       </div>
                   
                   <div class="form-group col-2">
                       <label asp-for="DayForWeek">Week</label>
                       <div class="form-group">
                           <input asp-for="DayForWeek" type="date" class="form-control form-control-sm">
                       </div>
       
                   </div>
                   <div class="form-group text-center col-1">
                       <button type="submit"  id='agenda-filter-btn'
                               class='btn btn-primary mt-4'>
                           Search
                       </button>
                   </div>
               </form>
           </div>
        </div>
    </div>
</div>
<table class="w-100 agenda-table">
    <tbody>
    @foreach (var dayLookup in Model.EventList)
    {
        var withDate = true;

        @foreach (var eventItem in dayLookup)
        {
            
            <tr class="text-center border border-dark">
                @{
                    if (withDate)
                    {
                        <td rowspan="@dayLookup.Count()" class='dateInfo'>
                            <p class="m-0">@dayLookup.Key.ToString()</p>
                            <span>@eventItem.Timing.Start.Date.ToString("dd-MM-yyyy")</span>
                        </td>
                        withDate = false;
                    }
                }
                <td class="border-0">
                    <span>@eventItem.Timing.Start.TimeOfDay - @eventItem.Timing.Finish.TimeOfDay</span>
                </td>
                <td class="border-0">
                    <span>@eventItem.Name</span>
                </td>
                <td class="border-0">
                    <span>@eventItem.Type</span>
                </td>
                <td class="border-0">
                    <span>(@eventItem.AuditoryNumber)</span>
                </td>
                <td class="border-0">
                    <div class="teacherList">
                        @foreach (var teacher in eventItem.Teachers)
                            {
                                <span>@teacher</span>
                            }
                    </div>
                </td>
                <td class="border-0">
                    <div class="d-flex justify-content-end">
                        <span class="eventActions d-flex justify-content-center">
                            <a data-toggle="ajax-modal" asp-if="@User.HasPermission(EventPermissions.Subscribe)">
                                <i class="fas fa-feather-alt text-success" data-url="@Url.Action("Subscribe", new {id = eventItem.Id})"></i>
                            </a>
                            <a asp-controller="Event" asp-action="RequestChange" asp-route-id="@eventItem.Id" asp-if="@User.HasPermission(EventPermissions.RequestChanges)">
                                <i class="fas fa-edit text-warning"></i>
                            </a>
                            <a data-toggle="ajax-modal" asp-if="@User.HasPermission(EventPermissions.RequestChanges)">
                                <i class="fas fa-times text-danger" data-url="@Url.Action("Delete", new {id = eventItem.Id})"></i>
                            </a>
                        </span>
                    </div>
                </td>
            </tr>
        }
    }
        </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready(() => {
            scheduleController.init();
        });
    </script>
}