﻿@model AuRooM.Application.Features.Events.Queries.GetRequestChangeModel.RequestChangeVM

@{
    ViewBag.Title = "Event request page";
    Layout = "_Layout";
}

    <form method="post" style="width: 400px" class="m-auto">
        <h3 class="text-center">Update Event Form</h3>
        <input type="hidden" asp-for="@Model.EventId">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control form-control-sm" disabled>
            <input asp-for="Name" class="form-control form-control-sm" type="hidden">
        </div>
        <div class="form-group">
            <label asp-for="AuditoryId">Auditory</label>
            <div class="form-group">
                <select id="auditorySelect" class="form-control form-control-sm" asp-for="AuditoryId" asp-items="@Model.Auditories">
                    <option></option>
                </select>
            </div>
            <span asp-validation-for="@Model.AuditoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Timing.Start">Start Time</label>
            <input asp-for="Timing.Start" type="time" class="form-control form-control-sm">
            <span asp-validation-for="Timing.Start" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Timing.Finish">Finish Time</label>
            <input asp-for="Timing.Finish" type="time" class="form-control form-control-sm">
            <span asp-validation-for="Timing.Finish" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IsAppliedForEventSet">Change events set</label>
            <input type="checkbox" asp-for="IsAppliedForEventSet" class="ml-1" id="changeEventSetToggler">
        </div>
        <div class="form-group" id="startPeriodGroup">
            <label asp-for="Period.Start">Start Period</label>
            <input asp-for="Period.Start" type="date" class="form-control form-control-sm" disabled="disabled">
            <input asp-for="Period.Start" type="hidden" class="form-control form-control-sm">
            <span asp-validation-for="Period.Start" class="text-danger"></span>
        </div>
        <div class="form-group" id="finishPeriodGroup">
            <label asp-for="Period.Finish">Finish Period</label>
            <input asp-for="Period.Finish" type="date" class="form-control form-control-sm">
            <span asp-validation-for="Period.Finish" class="text-danger"></span>
        </div>
        <div class="form-group" id='frequencyGroup'>
           <label asp-for="Frequency">Frequency</label>
           <div class="row ml-0 mr-0 d-flex align-items-center justify-content-between">
               <label class="col-2 p-0">Once in</label>
               <input asp-for="Frequency" class="form-control col-4">
               <label class="col-2 text-center">weeks</label>
           </div>
           <span asp-validation-for="Frequency" class="text-danger"></span>
       </div>
        <div class="form-group">
            <label asp-for="EventType">Event Type</label>
            <div class="form-group">
                <select id="eventTypeSelect" class="form-control form-control-sm" asp-for="EventType" asp-items="@Model.EventTypes" disabled>
                    <option></option>
                </select>
                <input asp-for="EventType" class="form-control form-control-sm" type="hidden">
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GroupIds">Groups</label>
            <div class="form-group">
                <select multiple="multiple" id="groupSelect" class="form-control form-control-sm" asp-for="GroupIds" asp-items="@Model.Groups" disabled>
                    <option></option>
                </select>
                <select multiple="multiple" id="groupSelect" class="form-control form-control-sm" asp-for="GroupIds" asp-items="@Model.Groups" hidden>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TeacherIds">Teachers</label>
            <div class="form-group">
                <select multiple="multiple" id="teacherSelect" class="form-control form-control-sm" asp-for="TeacherIds" asp-items="@Model.Teachers">
                    <option></option>
                </select>
            </div>
        </div>
        <button class="btn btn-success d-block mt-4 m-auto" type="submit">
            Update
        </button>
    </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready(() => {
            createEventController.init();
        });
    </script>
}

