@model AuRooM.Application.Features.Events.Queries.GetChangeRequestsList.RequestListVM

@{
    ViewBag.Title = "Event Control";
    Layout = "_Layout";
}

<div class="container">
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary mt-1 mb-3" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Filter
        </button>
    </div>
    <div class="collapse mb-2 filter-form" id="collapseExample">
        <div class="card border-0 bg-transparent">
            <div class="card-body">
                <form method="get" action="@Url.Action("Control")">
                    <div class="row">    
                        <div class="form-group col">
                            <label asp-for="@Model.EventControlFilterVm.SelectedAuditories">Select auditory</label>
                            <select multiple="multiple" id="auditorySelect" class="form-control form-control-sm"
                                    asp-for="@Model.EventControlFilterVm.SelectedAuditories" asp-items="@Model.EventControlFilterVm.Auditories">
                            </select>
                        </div>
                        <div class="form-group col">
                            <label asp-for="@Model.EventControlFilterVm.SelectedEventTypes">Select event type</label>
                            <select multiple="multiple" id="eventTypeSelect" class="form-control form-control-sm"
                                    asp-for="@Model.EventControlFilterVm.SelectedEventTypes" asp-items="@Model.EventControlFilterVm.EventTypes">
                            </select>
                        </div>
                        <div class="form-group col">
                            <label asp-for="@Model.EventControlFilterVm.SelectedStatuses">Select request status</label>
                            <select multiple="multiple" id="requestStatusSelect" class="form-control form-control-sm"
                                    asp-for="@Model.EventControlFilterVm.SelectedStatuses" asp-items="@Model.EventControlFilterVm.Statuses">
                            </select>
                        </div>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <table class="w-100">
        <thead class="font-weight-bold">
            <tr class="text-center lh-40 border border-dark">
                <td>Title</td>
                <td>Auditory</td>
                <td>Start Time</td>
                <td>Finish Time</td>
                <td>Start Period</td>
                <td>Finish Period</td>
                <td>Frequency</td>
                <td>Status</td>
                <td>Type</td>
                <td>Event Type</td>
                <td>Groups</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>

            @foreach (var change in Model.RequestList)
            {
                <tr class="text-center lh-40 border border-dark">
                    <td>@change.Name</td>
                    <td>@change.AuditoryNumber</td>
                    <td>@change.Timing.Start.TimeOfDay</td>
                    <td>@change.Timing.Finish.TimeOfDay</td>
                    <td>@change.Period?.Start.ToString("dd/MM/yyyy")</td>
                    <td>@change.Period?.Finish.ToString("dd/MM/yyyy")</td>
                    <td>@(change.Frequency==0?"":change.Frequency.ToString())</td>
                    <td>@change.RequestStatus</td>
                    <td>@change.RequestType</td>
                    <td>@change.EventType</td>
                    <td class="eventGroupColumn">
                        @foreach (var group in @change.GroupTitles)
                        {
                            @group <br />
                        }
                    </td>
                    <td>
                            @{
                                string action = null;
                                switch (change.RequestType)
                                {
                                    case "Create":
                                        action = "Approve";
                                        break;
                                    case "Update":
                                        action = "ApproveRequestChange";
                                        break;
                                    case "Delete":
                                        action = "ApproveDelete";
                                        break;
                                }
                            }
                            <div class="d-flex justify-content-around">
                                <form asp-controller="EventControl" asp-action="@action" method="post">
                                    <input type="text" class="d-none" asp-for="@change.Id" value=@change.Id name="Id">
                                    <div class="text-center">
                                        <button class="bg-transparent border-0 btnControl " type="submit"
                                                disabled="@(change.RequestStatus != ChangeRequestStatus.Pending.ToString())">
                                            <i class="fas fa-check text-success"></i>
                                        </button>
                                    </div>
                                </form>

                                <form asp-controller="EventControl" asp-action="Decline" method="post">
                                    <input type="text" class="d-none" asp-for="@change.Id" value=@change.Id name="Id">
                                    <div class="text-center">
                                        <button class="bg-transparent border-0 btnControl" type="submit"
                                                disabled="@(change.RequestStatus != ChangeRequestStatus.Pending.ToString())">
                                            <i class="fas fa-times text-danger"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <paginator count="@Model.PaginationInfo.PagesCount" page="@Model.PaginationInfo.CurrentPage" controller="EventControl" action="Control"></paginator>
</div>

@section Scripts {
    <script>
        $(document).ready(() => {
                                        eventControlController.init();
                                    });
    </script>
}
