﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus{
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
body{
  background: #F6EFDE;
}
.footer{
  background: #343a40;
  color: #fff !important;
}
.navbar {
  background: #FAD978 !important;
}
.navbar a{
  color: #343a40 !important;
}
#notifyBtn{
  position: relative;
}
#notifyBtn button{
  background: red;;
  font-size: 24px !important;
}
#notifyBtn div {
  width: 100px;
  max-height: 60px;
  overflow: scroll;
  left: 50%;
  margin-left: -80px;
  color: #fff;
  position: absolute;
  background: rgba(0,0,0,0.8);
}
#notifyBtn ul {
  padding: 7px 0 0 8px
}
#notifyBtn li {
  list-style: none;
}
#notifyBtn span{
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  font-size: 14px;
  left: 3px;
  background: #BEC4FF;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
td{
  padding: 2px;
  border: 1px solid #000;
}
.btnSubscribe{
  font-size: 14px;
  padding: 2px 4px;
}
.eventGroupColumn{
  width: 15%;
}
.eventGroupColumn > div:not(.showMore){
  display: inline-block;
  width: 45%;
}
.eventGroupColumn div.showMore{
  position: relative;
  display: inline-block;
  width: 100%;
}
.eventActions{
  font-size: 26px;
  width: 100px;
}
.eventActions a{
  margin-right: 10px;
  cursor: pointer;
}

.showMoreGroups {
  max-height: 120px !important;
  overflow: scroll;
  display: none;
  transform: translate(0px, -115%);
  width: inherit;
  position: absolute;
  color: #fff;
  background: rgba(0,0,0,0.8);
}
.showMoreTeachers{
  max-height: 120px !important;
  overflow: scroll;
  display: none;
  width: 120px;
  left: 50%;
  margin-left: -60px;
  transform: translate(0px, -115%);
  position: absolute;
  color: #fff;
  background: rgba(0,0,0,0.8);
}

.scheduleInfo{
  display: flex;
  justify-content: space-between;
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
button {
  border: none !important;
  background: #FAD978 !important;
  color: #343a40 !important;
}
button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.lh-40{
  line-height: 40px;
}

.form-group{
  margin-bottom: 10px !important;
}
.btnControl{
  width: 20px;
  height: 20px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  border: solid 1px #555;
  border-radius:50%;
}
.btnControl:disabled i {
  color: #c0c0c0 !important;
}
.btnControl i{
  position: absolute;
  top: 1px;
  left: 2px;
}

.select2-results__option[aria-selected=true] {
    display: none;
}

.pagination {
  margin-top: 10px;
}

.filter-form .select2-container {
    width: 100% !important;
}
.filter-form input[type='checkbox']{
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 20px !important;
  height: 28px !important;
}
.agenda-table span{
  margin: 0 5px;
}
.agenda-table td:last-child{
  width: 140px !important;
}
.agenda-table button {
  height: 30px;
  width: 30px;
}
.agenda-table button i {
  font-size: 30px;
}
.dateInfo{
  width: 120px !important;
}
.addEventBtn{
  background: #FAD978;
  display: flex;
  width: 30px;
  border: none;
  align-items: center;
  height: 30px;
  justify-content: center;
}