﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuRooM.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="modal-placeholder"></div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand"
                   asp-area=""
                   asp-controller="Event"
                   asp-action="Agenda">AuRooM</a>
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 align-items-center">
                        @if (User.HasPermission(UserPermissions.ViewUsers))
                        {
                            <li class="nav-item ">
                                <a class="nav-link text-dark"
                                   asp-area=""
                                   asp-controller="User"
                                   asp-action="Index">User Control</a>
                            </li>
                        }
                        @if (User.HasPermission(EventPermissions.ViewEventRequests))
                        {
                            <li class="nav-item ">
                                <a class="nav-link text-dark"
                                   asp-area=""
                                   asp-controller="EventControl"
                                   asp-action="Control">Event Control</a>
                            </li>
                        }

                        @if (!_signInManager.IsSignedIn(User))
                        {

                            <li class="nav-item ml-auto">
                                <a class="nav-link text-dark align-right"
                                   asp-area=""
                                   asp-controller="Account"
                                   asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark align-right"
                                   asp-area=""
                                   asp-controller="Account"
                                   asp-action="Register">Register</a>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item ml-auto">
                                <form method="post"
                                      asp-controller="Account"
                                      asp-action="Logout">
                                    <button type="submit"
                                            class="nav-link btn btn-link py-0">
                                        Logout @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main"
              class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2020 - AuRooM.Web
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/select2/js/select2.js"></script>
    <script src="~/js/site.min.js"asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
    <script>
        $(document).ready(() => {
            modalController.init();
        });
    </script>
</body>
</html>
