﻿@model AuRooM.Application.Common.Models.ModalConfig
<div aria-hidden="true"
     aria-labelledby="addContactLabel"
     class="fade modal"
     id="@Model.ModalId"
     role="dialog"
     tabindex="-1">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Model.Header</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal">
                    <span>
                        &times;
                    </span>
                </button>
            </div>

            <div class="modal-body">
                <partial name="@Model.BodyName" model="@Model.BodyModel"/>
            </div>
            <div class="justify-content-between modal-footer">
                <button class="btn btn-default close-button"
                        data-dismiss="modal"
                        type="button">
                    Cancel
                </button>
                <button class="btn btn-primary save-button"
                        data-save="modal"
                        type="submit">
                    @Model.SubmitText
                </button>
            </div>
        </div>
    </div>
</div>