﻿@using AuRooM.Web.Extensions
@model AuRooM.Web.Models.PaginatorPartialModel
<nav>
    <ul class='pagination pagination-sm justify-content-end'>
        <li class='page-item' asp-if='@Model.ShowFirst'>
            <a class='page-link' href='@Url.ActionPreserveQueryParams(Model.Action, Model.Controller, new { page = 1 })'>
                <i class='fas fa-angle-double-left'></i>
            </a>
        </li>
        <li class='page-item' asp-if='@Model.ShowPrev'>
            <a class='page-link' href='@Url.ActionPreserveQueryParams(Model.Action, Model.Controller, new{page = Model.Page - 1})' tabindex='-1'>
                <i class='fas fa-angle-left'></i>
            </a>
        </li>


        @for (int i = Model.MinPage; i <= Model.MaxPage; i++)
        {
            <li class='page-item' condition-class-disabled='@(Model.Page == i)'>
                <a class='page-link' href='@Url.ActionPreserveQueryParams(Model.Action, Model.Controller, new{ page = i})'>@i</a>
            </li>
        }

        <li class='page-item' asp-if='@Model.ShowNext'>
            <a class='page-link' href='@Url.ActionPreserveQueryParams(Model.Action, Model.Controller, new
                                   {
                                       page = Model.Page + 1
                                   })'>
                <i class='fas fa-angle-right'></i>
            </a>
        </li>
        <li class='page-item' asp-if='@Model.ShowLast'>
            <a class='page-link' href='@Url.ActionPreserveQueryParams(Model.Action, Model.Controller, new
                                   {
                                       page = Model.Count
                                   })'>
                <i class='fas fa-angle-double-right'></i>
            </a>
        </li>
    </ul>
</nav>